/* background and overall page design first, should
be shared across all pages. */

body {
    background-color: hsl(50, 50%, 90%);
    margin: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 42px;
}

/* Home page up first. */

.quote-home {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    /* min-width: 200px; */
    /* max-width: 400px; */
    /* commented out due to messing with the text
    alignment. Unsure why */
}

/* The goal with this list is to keep it centered on
the page without disrupting the scaling, or layout
of the bullet points in relation to the text. Maybe
the solution is to turn them all into buttons instead
of text links and move the entire menu into the top
left corner. I will currently leave it and turn it
into a proper menu once I have javascript. */
.list-home{
    text-align: left;
    margin-left: 35%;
}

/* These generally apply to the pages, but not the
homepage. Page specific (ie. only for queso) classes
are generally labelled '.*-recipe' to help with
navigation and legibility */

.photo-description {
    font-size: 13px;
}

.recipe-story {
    text-align: left;
    text-indent: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.quote {
    font-weight: 100;
    margin-top: -10px;
    font-style: italic;
    text-indent: 0%;
    max-width: 70%;
    margin-left: 16%;
}

.list-title {
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 60%;
}

.list-item {
    margin-top: 0%;
    text-align: left;
    margin-left: 10%;
}

.ingredients {
    margin-left: 30%;
    text-align: left;
    max-width: 40%;
}

.list-text {
    text-align: left;
    margin-left: 10%;
    max-width: 75%;
}
